.pulse-marker {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
}

.pulse-marker::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 1.5s infinite;
}

.high {
  background: red;
}
.high::after {
  background: red;
}

.medium {
  background: orange;
}
.medium::after {
  background: orange;
}

.low {
  background: green;
}
.low::after {
  background: green;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}